@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .header-link-item {
    @apply relative;
  }
  .header-link-item:hover {
    @apply text-primary;
  }
  .header-link-item::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    border: solid 2px #fff;
    z-index: -1;
  }
  .header-link-item:hover::after {
    @apply animate-leftToRight border-b border-primary;
  }
}
